* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.drag-over {
  outline: 2px dashed #60a5fa;
  outline-offset: -2px;
  background-color: rgba(96, 165, 250, 0.05);
}

.dragging {
  opacity: 0.5;
}
